.jobs {
    display: flex;
    min-width: 100%;
    background-color: white;
    justify-content: space-between;
    margin: 1.5em 0 1.5em 0;
}

.jobContainer {
    display: flex;
    padding: 1em;
}

.companyLogoContainer {
    margin-right: 1.5em;
    display: flex;
    align-items: center;
}

.jobInfoContainer {
    display: flex;
    align-items: center;
}

.jobInfo {
    margin: 0 1em 0 1em;
}

.metaData span:not(:last-child)::after {
    content: "•";
    margin: 0 0.5rem;
}

h3 {
    display: inline-block;
    margin: 0 1em 0 0;
}

.newFeatured {
    display: inline;
}

.companyInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}